*~
*.test
*.db
*.data
*.dot
*.log
*.gz
*.aux
*.bbl
*.blg
*.dvi
*.out
*.toc
*.tar.gz
*.zip
*.~*
*.glo
*.idx
*.ist
*.log
*.aux
*.nfs*
*.lol
*.lot
*.lof
*.tmp
*.snm
~*
*.ent
*.md5
*.dpth
*.auxlock
*.fdb_latexmk
*.fls
dissertation.pdf
output/*
